* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url("images/inde.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
}

.menu {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-weight: 900;
    font-size: 1.5rem;
    gap: 1rem;
    z-index: 2;
}

.menu__overlay {
    background-color: white;
    border-radius: 1rem;
    width: 600px;
    height: 300px;
    position: absolute;
    opacity: 0.7;
}

.menu li {
    position: relative;
    overflow: hidden;
}

.menu li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 20px;
    background-color: red;
    bottom: -3px;
    transform: translate(-600px);
    transition: transform 0.5s;
}

.menu li:hover::before {
    transform: translateX(0);
}

@media (min-width: 500px) {
    .menu {
        font-size: 2rem;
    }
}
@media (min-width: 800px) {
    .menu {
        font-size: 3rem;
    }
}